<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metas-Financeiras</title>
    <link rel="stylesheet" href="../style/metas.css">
</head>
<body>
    <div class="header">
        <a href="./cadastro.html"><button id="btn-cadastro">Cadastro</button></a>
    </div>
    <div class="project-container" id="metas-container">
        <!-- Metas serão inseridas aqui -->
    </div>
    <script src="../script/metas.js"></script>
</body>
</html>
