<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/metas.css">
    <title>Metas Financeiras</title>
</head>
<body>
    <div class="project-container">
        <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #DFF7E2">
                <div class="project-box-header">
                    <span>December 10, 2020</span>
                    <div class="more-wrapper">
                        <button class="edit-participant" style="color: #15e82d;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 1 1 3 3L7 19.5 3 21l1.5-4L16.5 3.5z"></path>
                            </svg>
                        </button>                                  
                    </div>
                </div>
                <div class="project-box-content-header">
                    <p class="box-content-header">Web Designing</p>
                    <p class="box-content-subheader">Prototyping</p>
                </div>
                <div class="box-progress-wrapper">
                    <p class="box-progress-header">Progress</p>
                    <div class="box-progress-bar">
                        <span class="box-progress" style="width: 80%; background-color: #35f44c">
                            <span class="box-progress-percentage">80%</span>
                        </span>
                    </div>
                    <div class="progress-values">
                        <span>Inicial: R$0,00</span>
                        <span>Final: R$1.000,00</span>
                    </div>
                </div>
                <div class="project-box-footer">
                    <div class="participants">
                        <button class="add-participant larger-btn" style="color: #1cff03;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                <path d="M12 5v14M5 12h14"></path>
                            </svg>
                        </button>
                        <button class="remove-participant larger-btn" style="color: #FF6F6F;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus">
                                <path d="M5 12h14"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="../script/metas.js"></script>
</body>
</html>
