<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamentos Pendentes</title>
</head>
<body>
    <header>
        <h1>Categoria de Pagamentos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="criar-pagamento.html">Cadastrar</a></li>
        </ul>
    </nav>
    <main>
        <section id="pagamentos">
            <header>
                <h2>Pagamentos</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
    </main>
    <footer>
    </footer>
    <script src="../js/pagamento.js"></script>
</body>
</html>