@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
}

#logo-index {
    display: block;
}

#logo-index img {
    width: 4vw;
}

header {
    width: 95%;
    margin-left: auto;
    margin-top: 0.3rem;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    background-color: #DFF7E2;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

nav a {
    font-weight: bold;
    display: block;
    width: auto;
    padding: 1rem;
    color: #093030;
    transition: all 200ms ease-in-out;
}

nav a:hover {
    text-decoration: none;
    color: #093030;
    background-color: rgba(120,255,255, 0.2);
}

nav a:visited {
    text-decoration: none;
    color: #093030;
}

#btn_logout {
    background-color: #00D09E;
    color: #093030;
    font-weight: bold;
}

.invisible {
    display: none;
}