body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #093030;
    color: white;
}

#listaMovimentacoes {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: #DFF7E2;
    border-radius: 20px;
    border-radius: 20px;
    height: 85%;
    overflow-y: scroll;
}

#listaMovimentacoes::-webkit-scrollbar {
    display: none;
}
  

#listaMovimentacoes a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #343a40;
    text-decoration: none;
    transition: all 200ms linear;
    padding: 2rem;
}

#listaMovimentacoes a:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#listaMovimentacoes a:hover {
    background-color: #b8e4d3;
}

.movement-icon {
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 277px;
}

#cadastro-link {
    background-color: #00D09E;
    color: #343a40;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 15px;
    text-decoration: none;
    transition: all 200ms linear;
}

#cadastro-link:hover {
    background-color: rgba(120,255,255, 0.2);
    color: white;
}

.income-icon {
    background-color: #00D09E;
}

.expense-icon {
    background-color: #d04200;
}

.form-cadastro-atualizacao {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #DFF7E2;
    color: #343a40;
    width: 50vw;
    height: 80%;
    border-radius: 20px;
}

.form-cadastro-atualizacao label,
.form-cadastro-atualizacao input,
.form-cadastro-atualizacao select,
.form-cadastro-atualizacao button {
    display: block;
    width: 100%;
}

.form-cadastro-atualizacao input,
.form-cadastro-atualizacao select {
    background-color: #d3e7d5;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.form-cadastro-atualizacao button {
    font-weight: bold;
    background-color: #00D09E;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

#voltar {
    align-self: flex-start;
    margin-left: 15%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button-container > * {
    max-width: 45%;
}

#excluir-movimentacao {
    background-color: #d04200;
}

@media screen and (max-width: 719px) {
    #listaMovimentacoes, .form-cadastro-atualizacao {
        width: 90vw;
    }
    h1 {
        font-size: 2rem;
    }
}